.container{
  padding: 15px;
  text-align: center;
}
.title{
  font-weight: bold;
  margin: 2px;
  color: white;
}
ion-title {
  margin-left: 50px;
  color: darkorange;
}
.item{
  color: cornflowerblue;
}
ion-button{
  margin-top: 10px;
}
