<ion-header>
    <ion-toolbar>
        <div class="headerContainer">
            <ion-icon id="arrowIcon" (click)="closeModal()" name="arrow-back-outline"></ion-icon>
            <div id="headerTitle">Fang Details</div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Fang-Details</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card>
        <div class="container">
            <div class="title">Fangdatum</div>
            <div class="item">{{fang.FangDatum | date: 'dd.MM.y HH:mm'}}</div>
            <div class="title">Nymphenname</div>
            <div class="item">{{fang.NymphenName ? fang.NymphenName : 'Keine Angaben'}}</div>
            <div class="title">Nymphenfarbe</div>
            <div class="item">{{fang.NymphenFarbe ? fang.NymphenFarbe : 'Keine Angaben'}}</div>
            <div class="title">Hackengrösse</div>
            <div class="item">{{fang.Hackengroesse ? fang.Hackengroesse : 'Keine Angaben'}}</div>
            <div class="title">Köpfchen</div>
            <div class="item">{{fang.Koepfchen ? fang.Koepfchen : 'Keine Angaben'}}</div>
            <div class="title">Gewässer</div>
            <div class="item">{{fang.GewaesserName ? fang.GewaesserName : 'Keine Angaben'}}</div>
            <div class="title">Tiefe des Standorts</div>
            <div class="item">{{fang.TiefeStandort ? fang.TiefeStandort + ' Meter' : 'Keine Angaben'}}</div>
            <div class="title">Tiefe des Fischfangs</div>
            <div class="item">{{fang.TiefeFischFang ? fang.TiefeFischFang + ' Meter' : 'Keine Angaben'}}</div>
            <div class="title">Wassertemperatur</div>
            <div class="item">{{fang.WasserTemperatur ? fang.WasserTemperatur + ' &#8451;' : 'Keine Angaben'}}</div>
            <div class="title">Wetter</div>
            <div class="item">{{fang.Wetter ? fang.Wetter : 'Keine Angaben'}}</div>
            <div class="title">Lufttemperatur</div>
            <div class="item">{{fang.LuftTemperatur ? fang.LuftTemperatur + ' &#8451;' : 'Keine Angaben'}}</div>
            <div class="title">Luftdruck</div>
            <div class="item">{{fang.Luftdruck ? fang.Luftdruck + ' hPa' : 'Keine Angaben'}}</div>
            <div class="title">Windgeschwindigkeit</div>
            <div class="item">{{fang.Windgeschwindigkeit ? fang.Windgeschwindigkeit + 'm/sec' : 'Keine Angaben'}}</div>
            <ion-button fill="solid" size="small" color="danger" (click)="deleteCatch(fang)">Fang löschen</ion-button>
        </div>
    </ion-card>
</ion-content>
