.container{
  padding: 15px;
  text-align: center;
}
.title{
  font-weight: bold;
  margin: 2px;
  color: white;
}
.item{
  color: cornflowerblue;
}
.headerContainer {
  display: flex;
  flex-direction: row;
  color: darkorange;
  align-items: center;
}
#arrowIcon {
  margin-left: 15px;
  margin-right: 10px;
  font-size: 1.7rem;
}
#headerTitle {
  font-size: 1.2rem;
}
