<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Wetter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Wetter</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="wetterContainer" *ngIf="wetter">
    <img src="{{wetter.IconURL}}" alt="wetterIcon">
    <div id="temperature">{{wetter.Temperature | number: '1.1-1'}} &#8451;</div>
    <div id="ortsName">{{wetter.OrtsName}}</div>
    <div>Luftdruck: {{wetter.Luftdruck}} hPa</div>
    <div>Feuchtigkeit: {{wetter.Feuchtigkeit}}%</div>
    <div>Windgeschwindigkeit: {{wetter.Windgeschwindigkeit}} m/sec</div>
    <div>Windrichtung: {{wetter.Windrichtung}}</div>
    <div id="beschreibung">{{wetter.BeschreibungTitle}}</div>
    <div>{{wetter.Beschreibung}}</div>
    <div id="wetterDatum">Wettermessung: {{wetter.WetterDatum | date: 'dd.MM.yyyy HH.mm.ss'}}</div>
  </div>
</ion-content>

