<div class="forgotPasswordContainer">
    <h2>Felchen App</h2>
    <h3>Neues Passwort anfordern</h3>
    <div id="inputContainer">
        <ion-item>
            <ion-label position="floating">Email:</ion-label>
            <ion-input placeholder="Email" type="email" name="mail" [(ngModel)]="email" required></ion-input>
        </ion-item>
    </div>
    <ion-button color="primary" size="small" (click)="newPassword()" [disabled]="!email">Absenden</ion-button>
    <ion-button color="danger" size="small" (click)="cancel()">Abbrechen</ion-button>
</div>
