.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
ion-button{
  margin-right: 20px;
  margin-left: 5px;
}
.headerContainer {
  display: flex;
  flex-direction: row;
  color: darkorange;
  align-items: center;
}
#arrowIcon {
  margin-left: 15px;
  margin-right: 10px;
  font-size: 1.7rem;
}
#headerTitle {
  font-size: 1.2rem;
}
#weatherLoadTitle {
  text-align: center;
}
